<?php
#$servername = "{{ server_name }}";
$servername = "{{ hostvars['ec2-3-86-189-255.compute-1.amazonaws.com']['ansible_facts']['ansible_hostname'] }}";
$username = "{{ db_user_name }}";
$password = "{{ db_user_pass }}";
$hostname = gethostname();
// Create connection
$conn = new mysqli($servername, $username, $password);
// Check connection
if ($conn->connect_error) {
die("$hostname: connection failed (" . $conn->connect_error . ")");
}
echo "$hostname: successfully connected to $servername";
?>
