<?php
$servername = "{{ hostvars[tag_Name_Db]['ansible_hostname'][0] }}";
$username = "{{ db_user_name }}";
$password = "{{ db_user_pass }}";
$hostname = gethostname();
// Create connection
$conn = new mysqli($servername, $username, $password);
// Check connection
if ($conn->connect_error) {
die("$hostname: connection failed (" . $conn->connect_error . ")");
}
echo "$hostname: successfully connected to $servername";
?>
